<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'publico/css/login_1.css' %}">
</head>
<body>
  <div class="background-overlay"></div>
  <img src="{% static 'publico/img/Perrito_Logo.png' %}" alt="Imagen animada" class="animated-image">
  <div class="right-panel">
    <div class="login-box">
      <h1 class="welcome">Bienvenido</h1>
      <p class="instructions">
        Por favor ingresa tus credenciales para acceder.<br>
        Asegúrate de escribir correctamente tu usuario y contraseña.
      </p>
      <form class="login-form">
        <div class="input-box fade-item">
          <input type="text" placeholder="Usuario" required>
        </div>
        <div class="input-box fade-item">
          <input type="password" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn fade-item">Ingresar</button>
      </form>
    </div>
  </div>
</body>
</html>